<h1><%= @recipe.name %></h1>
<p>Posted by <%= link_to "#{@recipe.user.username}", user_recipes_path(@recipe.user) %></p>
<p><strong>Time Required</strong></p>
<p><%= @recipe.time %> minutes</p>
<p><strong>Ingredients</strong></p>
<ul>
  <% @recipe.quantities.each do |quantity| %>
    <li><%= quantity.amount %> <%= quantity.ingredient.name %></li>
  <% end %>
</ul>
<p><strong>Instructions</strong></p>
<p><%= @recipe.instructions %></p>
<br>
<% if current_user == @recipe.user %>
  <%= link_to "Edit this recipe", edit_user_recipe_path(@recipe.user, @recipe) %><br>
  <%= form_tag recipe_path(@recipe), method: "delete" do %>
    <%= submit_tag "Delete #{@recipe.name}" %>
  <% end %>
<% end %>
