<!DOCTYPE html>
<html>
  <head>
    <title>QuickAndEasyRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="styles.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div class="container">
        <nav>
          <%= link_to "All Recipes", recipes_path %>
          <%= link_to "Your Recipes", user_recipes_path(current_user) %>
          <%= link_to "Recipes by Ingredient", ingredients_path %>
          <%= link_to "New Recipe", new_user_recipe_path(current_user) %>
          <%= link_to "Logout", logout_path %>
        </nav>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
